@{
    ViewData["Title"] = "Справка";
}
<h1>@ViewData["Title"]</h1>

<p>Данное приложение создано для управления списком задач. Имя задачи не должно быть пустым и не должно оканчиваться на "!".
    Описание задачи не должно быть пустым</p>
